body.modal-open{
    overflow: hidden;
}

.modal{
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.modal__content{
    background-color: #FFF;
    margin: 100px 300px;
    padding: 64px 32px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 2px #000 groove;
}

.modal__title{
    font-weight: 700;
    font-size: 28px;
}

.contact__form {
  margin: 24px 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input__container {
  display: flex;
  flex-direction: column;
  position: relative; /* Añadido */
}

.input__form {
  width: 500px;
  height: 10px;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 12px;
  transition: 0.3s ease;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.input__form:focus {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.label {
  position: absolute;
  top: 10px; /* Ajustado para centrar verticalmente */
  left: 12px;
  transition: 0.3s ease;
  pointer-events: none;
  color: #888;
  background-color: transparent;
}

.input__container input:focus + .label, .input__container input:valid + .label {
  top: -10px;
  font-size: 12px;
  color: #333;
}

.submit {
  width: 100px;
  height: 50px;
  border: none;
  background-color: #c4c4c4;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.close{
    position: fixed;
    top: 17%;
    right: 23%;
    cursor: pointer;
}

.close__img{
    height: 30px;
}