.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer__container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.icons__footer{
    width: 30px;
    filter: invert(100%);
}

.list__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links__footer{
    margin: 4px 0px;
    font-size: 16px;
    color: #666666;
    cursor: pointer;
}

.links__footer:hover{
    color: #ffffff;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}

.info__footer{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.footer__name{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 18px;
    
}

.footer__name:hover{
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    transition: 0.3s ease;
}

.FD__footer{
    font-size: 22px;
    font-weight: 500;
}