.icon__card {
  height: 80px;
}

.skills {
  padding: 64px 32px;
  display: flex;
  align-items: center;
  background-color: #0f0f0f;
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.skill__card {
  width: 300px;
  height: autos;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  background-color: #969696;
  padding: 32px 16px;
  margin: 22px;
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
  padding: 24px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
  transition: transform 0.5s ease;
}

.skill__card:hover {
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.7);
  transition: 0.4s ease;
  background-color: #fff;
  transform: scale(1.01);
}

.skill__card:hover .description{
    display: block;
    max-height: 100px;
}

.title__card {
  font-weight: 700;
  margin: 12px 0px;
}

.description {
  display: none;
  font-size: 16px;
  margin: 12px 0;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 5s ease;
}
